.parent-1{
    background-color:bisque;
    font-size: 40px;
}

.parent-1>h1{
    font-size: 2em;
}

.parent-1>h2{
    font-size: 3em;
}

.parent-1>h3{
    font-size: 4em;
}

.parent-2{
    background-color:green;
    color:whitesmoke;
    font-size: 40px;
}

.parent-2>h1{
    font-size: 2rem;
}

.parent-2>h2{
    font-size: 3rem;
}

.parent-2>h3{
    font-size: 4rem;
}