.fcontainer{
    display:flex;
    border:2px solid green;
    height:45vh;
    /* flex-direction:column; */
    /* justify-content:center; */
    /* align-items:center; */
    /* flex-wrap:wrap */
    /* flex-flow:column wrap; */
}   

.fitem{
    background-color:red;
    text-align:center;
    color:white;
    height:100px;
    width:100px;
    border:1px solid black;
    margin:15px;
}

.item1{
    order:4;
    flex-shrink:2;
}

.item2{
    order:1;
    flex-grow:3;
}

.item3{
    align-self:center;
}