*{
    background-color:black;
}

h1{
    color:white;
}

.color-heading{
    color:green;
}

#unique-text{
    font-style:italic;
    color:red;
}

h5[class]{
    text-transform:uppercase;
    color:white;
}

h5[class="head-4"]{
    color:yellow;
}